{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
            <form method="post" enctype="multipart/form-data">
                {{ form_widget(form) }}
                 <div class="right">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Valider</button>
               </div>
            </form>
    </div>
{% endblock %}

