{% extends 'base.html.twig' %}

{% block title %}
    accueil
{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="text-center"></h3>
        <div class="row text-center text-lg-left">

        {% for association in associations %}
            
                <div class="col-lg-3 col-md-4 col-xs-6" >
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title"><b>{{association.nom}}</b></h4>
                          <p class="card-text">{{association.description}}</p>
                          <p style="background: #00ccff">
                              <b>Disponible cette semaine :</b>
                            {% if association.is_active== 1%}
                                <span class="glyphicon glyphicon-ok"></span>
                            {% else %}
                                <span class="glyphicon glyphicon-ban-circle"></span>
                            {% endif %}
                          </p>
                        </div>
                    </div>
                </div>
        {% endfor %}
         </div>
    </div>
{% endblock %}
