{% extends 'base.html.twig' %}

{% block title %}
    accueil
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row text-center text-lg-left">
                Vous n'avez pas le droit d'accéder à cette page!
         </div>
    </div>
{% endblock %}
