{% extends 'base.html.twig' %}

{% block title %}
    accueil
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row text-center text-lg-left">
            <p>Vous n'avez pas le droit d'accéder à cette page !<p>
            <p>Cet accès est réservé aux administrateurs du site et aux responsables d'association.</p>
         </div>
    </div>
{% endblock %}
