{% extends 'base.html.twig' %}

{% block stylesheets %}
	<style>
		h2{
			margin: 30px auto;
		}
	</style>
{% endblock %}

{% block body %}
	
	{% if app.user.statut == 1 %}
		<h2 class="text-center">Administration générale du site</h2>
	    <div class="row">
                    <div class="col-sm-6 col-md-3 link">
                        <a href="{{ url('eleves') }}" class="link" role="button">
			    <div class="thumbnail text-center">
			      	<div class="caption">
                                    <span class="glyphicon glyphicon-user" style="font-size:40px;"></span>
			        	<h3>Utilisateurs</h3>
			      	</div>
			    </div>
                        </a>
		    </div>

		  	<div class="col-sm-6 col-md-3 link">
                            <a href="{{ url('associations') }}" class="link" role="button">
                                <div class="thumbnail text-center">
                                    <div class="caption">
                                            <span class="glyphicon glyphicon-sunglasses" style="font-size:40px;"></span>
                                            <h3>Associations</h3>
                                    </div>
                                </div>
                            </a>
		  	</div>
			
			<div class="col-sm-6 col-md-3 link">
                            <a href="#" class="link" role="button">
                                <div class="thumbnail text-center">
                                    <div class="caption">
                                            <span class="glyphicon glyphicon-briefcase" style="font-size:40px;"></span>
                                            <h3>Responsables</h3>
                                    </div>
                                </div>
                            </a>
		  	</div>

		  	<div class="col-sm-6 col-md-3 link">
                            <a href="{{ url('participations') }}" class="link" role="button">
                                <div class="thumbnail text-center">
                                    <div class="caption">
                                            <span class="glyphicon glyphicon-sort" style="font-size:40px;"></span>
                                            <h3>Participations</h3>
                                    </div>
                                </div>
                            </a>
		  	</div>
			
		</div>
	{% endif %}

	{% if associations is defined and associations|length >0 %}
		<h2 class="text-center">Administration de vos associations</h2>
		<div class="row">
			<div class="col-sm-6 col-md-6 link">
                            <a href="#" class="link" role="button">
                                <div class="thumbnail text-center">
                                    <div class="caption">
                                            <span class="glyphicon glyphicon-briefcase" style="font-size:40px;"></span>
                                            <h3>Responsables</h3>
                                    </div>
                                </div>
                            </a>
		  	</div>

		  	<div class="col-sm-6 col-md-6 link">
                            <a href="{{ url('participations') }}" class="link" role="button">
                                <div class="thumbnail text-center">
                                    <div class="caption">
                                            <span class="glyphicon glyphicon-sort" style="font-size:40px;"></span>
                                            <h3>Participations</h3>
                                    </div>
                                </div>
                            </a>
		  	</div>
	    </div>
	{% endif %}
{% endblock %}
