/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 déc. 2017, 09:55:29
    Author     : Sanae BELHAJ
*/
.navbar-default{
    background: #FFFFFF;
}
.lien{
    color : #cccc00;
}
.card{
    border: solid #cccc00;
}
.lien a{
    color : #cccc00;
}
.lien a:hover, .lien a:focus{
    color : #cccc00;
    text-decoration: none;   
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background:#cccc00;
}
