{% extends 'base.html.twig' %}

{% block body %}
	
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
    		<h3>Vos participations du semestre</h3>
    		<table id="" class="table table-striped datatable_esgi">    
				<thead>
					<tr>
						<th>Association</th>
						<th>Dernière participation</th>
						{# <th>Historique</th> #}
					</tr>
				</thead>
				<tbody>
					{% for participation in participations %}
						<tr>
							<td>{{ participation.association_id.nom }}</td>
							<td>{{ participation.date_crea|date('d/m/Y') }}</td>
							{# <td><button class="btn btn-default">Consulter</button></td> #}
						</tr>
					{% endfor %}
				</tbody>
    		</table>  
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
        	<h3>Mes informations</h3>
        	{{ form(form_account, {'method': 'POST'}) }}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}