{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-6 col-md-6">
            <div class="panel panel-default" style="border-color:#cccc00;">
                <div class="panel-heading" style="background: #cccc00;"><b>C'est la première fois que je participe à l'association, comment m'inscrire ?</b></div>
                <div class="panel-body"  >
                  <p>Il suffit de s'enregistrer sur le site. Lors des séances d'association, communiquer votre nom au staff qui émargera votre présence. Cela permet d'enregistrer automatiquement votre participation et évite les oublis sur fichier Excel.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-6">
            <div class="panel panel-default" style="border-color:#00ccff;">
                <div class="panel-heading" style="background: #00ccff;"><b>Pourquoi s'inscrire sur le site ?</b></div>
                <div class="panel-body">
                  <p>
                    Après avoir joué, le staff de l'association enregistrera une nouvelle participation sur le site en votre nom. Vos participations permettront d'avoir un récapitulatif des points OPEN et ainsi consulter vos activités du semestre (qui ne sont mises à jour qu'au dernier moment sur MyGes).
                    
                  </p>               
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 offset-md-3 col-md-3">
        </div >
        <div id="inscription" class="col-xs-6 offset-md-6 col-md-6">
            <h4>
                Inscription
                <small>* : obligatoire</small> 
            </h4>
            {{ form(form_inscri, {'method': 'POST'}) }}
        </div>
        <div class="col-xs-3 offset-md-3 col-md-3">
        </div >
    </div>
{% endblock %}

