{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <form action="" method="">
                <input type="text" name="search">
                <button>
            </form>
        </div>
            <div class="panel-body">
                  {% for eleve in Eleves %}
                        <div class="col-md-12">
                            <table class="table table-striped">
                                <tr>
                                   <td>{{eleve.prenom}} {{eleve.nom}} </td>
                                   <td>{{eleve.annee}}</td>
                                </tr>
                            </table>  
                        </div>
                  {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

