{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <table class="table table-striped datatable_esgi">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Promotion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for eleve in Eleves %}
                        <tr>
                           <td>{{eleve.prenom}} {{eleve.nom}} </td>
                           <td>{{eleve.annee}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

